<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/dashboard.css">

	<title>Cart items</title>
</head>
<body>

    
	<!-- SIDEBAR-->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Cart</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Cart</span>
				</a>
			</li>
			<li>
				<a href="/message">  
					<i class='bx bxs-shopping-bag-alt' ></i>
				<span class="text">Other categories</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Team</span>
				</a>
			</li>
			<li>
				<a href="/message">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Chat admin</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<form action="/logout" method="post">
				<li>
					<a href="/" class="logout">
						<i class='bx bxs-log-out-circle' ></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</form>
		</ul>
	</section>
	<!-- SIDEBAR -->

 



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
            <a href="/shopping-cart" class="notification" style=" margin-top: 15px;"  >
                <p style="padding: 5px; background-color: #3C91E6; border-radius: 20px; color: aliceblue; font-weight: 600;">Shopping Cart</p> 
				<span class="num"><%= totalQty %></span>
			</a>
			<i class='bx bx-menu' ></i>
			<p class="nav-link" style="color: #f66666; font-weight: 600;"> Close sidebar</p>
			
			<%- include('./partials/search'); -%>


			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>

	
		 
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN --> 
		<main>
			<div class="head-title">
				<div class="left">
					<h1> Cart items</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Product(s) added to cart</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a>
              
			</div>

            

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
                        <h2> Today</h2>
						<h3><%=  new Date().toDateString();%></h3>
						<h4> <%=   new Date().toLocaleTimeString()%></h>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>2834</h3>
						<p>Visitors</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Total Sales</p>
					</span>
				</li>

                <a href="/shopping-cart"> <button class="btnLogin-popup"> pay</button></a>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3><b>Cart items</b></h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>


                    <% if (products) { %>

					<table>
						<thead>
							<tr>
								<th> Item</th>
								<th> Name</th>
								<th> Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>

                            <% products.forEach(item => { %>
							<tr>
								
								<td>
									<img src='<%= item.image %>' alt="item photo " style="height: 60px; width: 60px;" >
								</td>

								<td>
									<h1> <%= item.name %></h1>
								</td>

								<td> <h1> <%= item.qty %> </h1> </td>
								<td><span class="status completed">N <%= item.price %></span></td>
								<td><button class="status completed">+</button></td>

								<form action="/reduceQty/<%= item.productId %>" method="post">
								<td><button class="status completed" type="submit">-</button></td>
					 
								</form>
							</tr>
                            
                            <% }) %>

						</tbody>
					</table>





				</div>


                <% } else { %>
                    <h1> No Products in your cart</h1>  
                    <% } %>




			<!-- 	<div class="todo">
					<div class="head">
						<h3> Other Categories</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>

				 
				</div> -->
			</div>
		</main>
		<!-- MAIN -->

	 


	 
	</section>
	<!-- CONTENT -->
	


	<script src="/scripts/dashboard.js"></script>
</body>
<%- include('./partials/footer'); -%>
</html> 
